<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>60413494039-d9o5litaf84foaq287bse3m9f5ma59lv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.60413494039-d9o5litaf84foaq287bse3m9f5ma59lv</string>
	<key>API_KEY</key>
	<string>AIzaSyCNuu-pryCmZJClYaAmT7u0pNR0zwW0mdc</string>
	<key>GCM_SENDER_ID</key>
	<string>60413494039</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hyonbokan.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-fd918</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-fd918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:60413494039:ios:607e8e04b1cabf57a3ed52</string>
</dict>
</plist>